<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datwhite.passwordmanagertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <activity android:name=".Auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.main.MainActivity" >

        </activity>
        <activity android:name=".screens.details.PasswordDetailsActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".screens.details.PasswordAddActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
    </application>

</manifest>