<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datwhite.passwordmanagertest">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/form_textbox_password"
        android:label="@string/app_name"
        android:roundIcon="@drawable/form_textbox_password"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManagerTest">

        <activity android:name=".auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.main.MainActivity">

        </activity>
        <activity
            android:name=".screens.details.PasswordDetailsActivity"
            android:theme="@style/Theme.PasswordManagerTest" />
        <activity
            android:name=".screens.details.PasswordAddActivity"
            android:theme="@style/Theme.PasswordManagerTest" />
    </application>

</manifest>